.form-control {
    width: 200px;
}

.myForm {
    text-align: center;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    width: 440px;
    margin: 0 auto 0;
    text-align: left;
    background-color: #E8E8E8;
    padding: 10px 15px 10px 4px;
    border-radius: 5px;
}

.two-inputs-div {
    margin-left: 10px;
}