.details {
    width: 600px;
    padding: 5px;
    margin: 50px auto 15px;
    background-color: #E8E8E8;
    padding: 10px 15px 10px 4px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    animation: fadeIn;
    animation-duration: 2.5s;
}

.btn {
    width: 150px;
}

.displayContainer .btnsIterators .btn {
    width: auto;
}