@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body {
    padding: 15px;
    background-color: #D3D3D3;
}

.AppContainer {
    width: 78%;
    padding: 13px;
    margin: auto;
    background-color: #ffffff;
    border-radius: 2px;
}

.AppContainer h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-weight: bold;
}

.AppContainer h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-weight: bold;
    margin-bottom: 25px;
}

.btnsIterators .btn {
    margin-left: 15px;
    margin-bottom: 15px;
}

.btnsIterators .btn-info,
.btn-primary {
    width: 40px;
}

.btnsIterators .btn-success {
    border-radius: 50%;
    width: auto;
}

.btnsIterators span {
    margin-left: 15px;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-weight: bold;
}